tabulate
edinet_tools
pandas
python-dotenv
gspread
google-auth
feedparser
requests
deepl
pinecone
openai
langchain
langchain_pinecone
langchain_openai
langchain_community
langchain_text_splitters
langchain_core
flask
flask_cors
pdfplumber
gunicorn
lark