pathlib
pickle
tabulate
edinet_tools
os
pandas
python-dotenv
dotenv
rich.pretty
gspread
google-auth
json
feedparser
time
datetime
requests
deepl
pinecone
openai
langchain
langchain_pinecone
langchain_openai
langchain_community
langchain_text_splitters
langchain_core
hashlib
flask
flask_cors
pdfplumber
gunicorn